*.asset filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
f62fbe69792f6e8c7056f98fe8d25798faf4c948b5b6d9644bed8a9ed731f26c filter=lfs diff=lfs merge=lfs -text
Lancero.fbx filter=lfs diff=lfs merge=lfs -text
3cc2d706ffa1ea63f496a4167a6bc00597e8b23d91e999106822ee8379237fea filter=lfs diff=lfs merge=lfs -text
